.row 
    .col-12 
        a(href="/users/not-friend" class="btn btn-primary") List User 
        a(href="/users/friends" class="btn btn-primary") List friend
        a(href="/users/request" class="btn btn-primary") Request sent 
        a(href="/users/accept" class="btn btn-primary") Friend request 