extends ../../layouts/default.pug  
include ../../mixins/box-head.pug  
include ../../mixins/product-layout.pug
block main  
    .container.py-5
        .row.mb-4
            .col-12
                +box-head("Featured Products")  
        
        .row  
            +product-grid(featuredProducts)

        .row.mb-4
            .col-12
                +box-head("New Products")  
        
        .row  
            +product-grid(newProducts)